$primaryColor: #FE9920; 
$secondaryColor: #265b7d;

$menuColor: rgb(50,41,47);
$menuGradient: linear-gradient(0deg, rgba(50,41,47,1) 0%, rgba(45,47,55,1) 39%, rgba(73,63,69,1) 100%);

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;

