


/*----------- BODY --------------*/



/*----------- HEADER --------------*/
div#headerWrapper {
    
}

#topBar button {

}

header {
    height: 240px; 
    background-image: url(../images/header-medium.jpg);
    height: 240px; 
}

header h1 {
    font-size: 2.4rem;}

/*----------- NAVIGATION --------------*/
    


/*----------- MAIN --------------*/

.cardContainer {
   
}

.card {
    flex-basis: 49%;
}

.cardButton {
    height: 44px;
}


/*----------- FOOTER --------------*/
    
