header, nav, main {
    max-width: 1200px;
    margin: auto;
}


//header

header {
    h1 {
        font-size: 2.4rem;
    }

    #logoImage {
        width: 12rem;
    }
}
/* NAVIGATION STUFF GOES HERE  */

#navWrapper {
    background-color: rgb(232, 232, 232);
}

nav {

    ul li a {
        padding: .6rem 2rem;
        font-size: .8rem;
    }

    ul {
        justify-content: center;
        
    }

    ul li {
        width: auto;
    }
}


//main 

main {
    .bodyImage {
        width: 31%;
    }

    h2 {padding-left: 0;
    padding-right: 0;}

    p {padding-left: 0;
        padding-right: 0;}

    .bodyImage {
        padding-right: 0;
        margin-right: 0;}
    }
//footer

#footerWrapper {
    background-color: #1b1b1b;
}