/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* BODY  */
body {
	font-family: $defaultFont;
	font-size: 16px;
	font-weight: $lightWeight;
    min-width: 320px;
}


/* HEADER  */
#headerWrapper {
    padding: .8rem 2vw;
}

#headerWrapper img {
    width: 7vw;
    height: auto;
    min-width: 60px;
}

header {
    display: grid;
    grid-template-columns: 51px auto;
    align-items: center;
	padding: .5rem 2vw;
	h1 {
        font-size: 1.6rem;
        font-weight: $lightWeight;
        padding-left: .5rem;
        color: $primaryColor;
    }
} // end header

/* NAVIGATION STUFF GOES HERE  */

#navWrapper button {
    position: relative;
    height: 44px;
    width: 44px;
    background: none;
    border: none;
}

#navWrapper button .line {
    position: absolute;
    height: 2px;
    width: 60%;
    background-color: #FFF;
    left: 20%;
    transition: all .3s ease;
}

#navWrapper button .top {
    top: 30%;
}

#navWrapper button .middle {
    top: 48%;
}

#navWrapper button .bottom {
    top: 65%;
}

#hamBone.open {
    .top {
        transform: rotate(45deg);
        top: 48%;
    }

    .middle, .bottom {
        transform: rotate(-45deg);
        top: 48%;
    }
}


#navWrapper {
    background-color: $menuColor;
    
}

#mediumNav {
    display: none;
}

#smallNav {display: none;}

#smallNav.open {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

#smallNav li {
    display: flex;
    align-items: center;
    height: 48px;
    width: 100%;
    margin: 0;
    padding: 0;
    padding: 0 2vw;
}

#smallNav li:hover {
    background-color: $secondaryColor;
}

#smallNav li a {
    color: #FFF;
    text-decoration: none;
}

// main

span {
    display: block;
    text-align: center;
}

#galleryContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#galleryContainer div:nth-child(1) {
    grid-column: 1 / span 2;
}

.imageTile {
    padding: .8rem 2vw;
}

.imageTile img {
    width: 100%;
    height: auto;
}

//footer 

#footerWrapper {background-color: #2A0C4E;}

#footerContainer {
    display: grid;
    color: #FFF;
    padding-top: 1.5rem;
    
}

#footerContainer ul {
    margin-bottom: 1.5rem;
    padding-left: 5vw;
    list-style: none;
    
}

#footerContainer ul a {
    color: #FFF;
    text-decoration: none;
    
}

#footerContainer ul li {
    padding: 10px;
}

#footerContainer ul a:hover {
    color: $secondaryColor !important;
}

#copyright {
    color: #FFF;
    text-align: center;
    padding: 1rem; 
}



















