


/*----------- BODY --------------*/



/*----------- HEADER --------------*/



/*----------- NAVIGATION --------------*/
    


/*----------- MAIN --------------*/

#cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

#cardContainer .hotelCard:nth-last-child(2) {

    margin-bottom: 5.2rem;

}

.hotelCard {
    margin-left: .5rem;
    margin-right: .5rem;
}


/*----------- FOOTER --------------*/
    
