header, nav, main,{
    max-width: 1140px;
    margin: auto;
}


//header

header {
   
}
/* NAVIGATION STUFF GOES HERE  */



nav {

    
}


//main 

main {
  
    .galleryImage {
        flex-basis: 23%;
        margin: 0;
    }

    }
//footer

#footerWrapper {
    display: block;
    max-width: 1140px;
    margin: 0 auto 0 auto;
}

footer {
    
}