//header

header {

    
}

/* NAVIGATION STUFF GOES HERE  */

nav {

    ul {display: flex;
    justify-content: right;}

    ul li {display: block;}
   
} //end nav

//main

main {
    

    .galleryImage {
        flex-basis: 29%;
        
    }

}

//footer

footer {
    
}