/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* BODY  */

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 300;

    h1 {
        font-size: 24px; 
       
    }
}


/* HEADER  */



header {
   
    display: grid;
    grid-template-columns: 130px auto;

    img {
        width: 100px;
        height: auto;
        padding: .4rem;
    }

    h1 {
        font-size: 2.2rem;
        padding-top: 2rem;
    }

   
} // end header

/* NAVIGATION STUFF GOES HERE  */
nav {

    ul {
        width: 100%;
        text-align: right;
        background-color: #d1d1d1;
        
    }

    ul li {
        height: 48px;
        padding: 1rem .5rem;
        border-bottom: 1px solid #b5b5b5;
    }

    ul li:hover {
        background-color: lighten($primaryColor, 20%);
    }

    ul li a {
        text-decoration: none;
        color: #000;
    }

    li.active {
        background-color: darken($primaryColor, 2%);
        text-decoration: underline;
    }
   


} //end of nav





/* MAIN  */
main {

    h1{
    margin-top: 1rem;
    margin-left: .5rem;
}


    #galleryContainer {
        
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .galleryImage {

        flex-basis: 45%;
        margin: .6rem;

    }

    .galleryImage img {
        width: 100%;
        height: auto;
    }
    

} // end main



/* FOOTER  */
#footerWrapper {
    background-color: darken($primaryColor, 10%);
    color: #FFF;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    text-align: center;
    
    
}
