/* NAVIGATION STUFF GOES HERE  */

// Columns 
@for $i from 0 through 12 {
    $w:($i/12)*100%;
    .medium-#{$i} {flex-basis: $w;}
}

header img {
    display: inline;
    margin: auto;
}

#fullNav {
    ul {
        justify-content: flex-end;
    }

}







main{

#features {
    grid-template-columns: 1fr 1fr 1fr !important;
    grid-template-areas: 
    "infrastructure technology pricing"
    "support support pricing" !important;
    margin-bottom: 4rem;
}

#pricing {
    padding: .8rem;
}

#formula {
    text-align: right;
}

#pricing img {
    height: 400px;
}


}

.fullWidth ul {
    display: block;
    padding-left: 6rem;
    padding-bottom: 3rem;
}