/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


#pageWrapper {
    display: grid;
    grid-template-areas: 
    "hamburger"
    "header"
    "content"
    "footer"
    "navigation";
}
 
/*----------- BODY --------------*/
body {
    font-size: 16px;
    font-family: Inter, sans-serif;
    background-color: #0c0c0c;
    color: #f2f2f2;
    line-height: 1.3rem;
}


/*----------- HEADER --------------*/
#headerWrapper {
    background-image: linear-gradient(to right top, #ff0f7b, #ff3d61, #ff6049, #ff7f36, #f89b29);
    grid-area: header;
    margin-bottom: 1rem;
}

header {
    grid-area: header;
    display: flex;
    align-items: center;
    padding: .8rem 2%;
    color: #f2f2f2;
    h1 {margin: 0;}
    h2 {margin: 0; font-weight: normal;}
    img {width: 100px; height: auto;}
    
}



/*----------- NAVIGATION --------------*/
a.myjump{
    display: block;
    width: 60px;
    color: #f2f2f2;
    font-size: 1.7rem;
    padding: .4rem;
    text-decoration: none;
    padding-left: 2%;
}

#navWrapper {
    background-color: #1b1b1b;
    grid-area: navigation;
}

nav {
    grid-area: navigation;
    
    height: 100vh;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}
nav ul li {
    flex-basis: 100%;
    
}
nav ul li a {
    display: block;
    color: #fff;
    padding: .8rem 0;
    text-decoration: none;
    font-size: .9rem;
    text-align: center;
    transition: color .2s ease;
}


nav ul li a:hover {
    color: #FF0F7B;
}
nav ul li.active a {
    color: #F89B29;
}


/*----------- HAMBURGER --------------*/
div#hamburger {
    grid-area: hamburger;
    background-color: #1b1b1b;
    padding-bottom: .2rem;
}

div#hamburger a {
    color: #f2f2f2;
}


/*----------- MAIN --------------*/
main {
    grid-area: content;
    padding: 0 2%;
    min-height: 10rem;
    margin-bottom: 4rem;
    h1 {margin: 0 0 1rem 0; padding: 1rem 0 0 0;}
    p {margin: 0; padding: .5rem 0;}
}

.row1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "h2"
    "img"
    "p";
}

.row1 h2 {
    grid-area: h2;
}

.row1 p {
    grid-area: p;
    
}

.row1 img {
    grid-area: img;
    width: 100%;
    height: auto;

    
}

.row2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "h2"
    "img"
    "p";
}

.row2 p {
    grid-area: p
}

.row2 img {
    grid-area: img;
    width: 100%;
    height: auto;
    
}



/*----------- FOOTER --------------*/

#footerWrapper {
    background-image: linear-gradient(to right top, #ff0f7b, #ff3d61, #ff6049, #ff7f36, #f89b29);
    grid-area: footer;
}
footer {
    grid-area: footer;
    padding: .5rem 2%;
    text-align: center;
}



/*----- Clearfix: Force an Element not to collapse -----*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}